/*common css*/

.container {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/*body {*/
    /*background-size: 100%, 100%;*/
    /*background-repeat: no-repeat;*/
/*}*/

.full-pic {
    display: block;
    width: 100%;
}

img {
    border: 0;
    vertical-align: middle;
}

/*span {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*font-size: 40px;*/
/*}*/

/* other css */
.index-body {
    width: 750px;
    height: 1334px;
}

.full-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.problem-A-div {
    position: absolute;
    top: 34.5%;
    left: 12.5%;
    width: 75%;
    height: 6%;
}
.problem-A-text {
    position: absolute;
    top: 36%;
    left: 24%;
    width: 52%;
    height: 2%;
}
.problem-body {
    background-image: url("bg.jpg");
    background-size: cover;
}

.problem-selector {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
}