<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<style>
</style>
<body>
    <div class="full-container">
        <img src="bg.jpg" class="full-pic">
        <div id="flag" style="width: 14%;height: 5%; position: absolute;top: 30%;left: 42%">
            <img src="flag.png" class="full-pic">
            <span>

            </span>
        </div>
        <div id="problem-A" class="problem-A-div">
            <img src="normal.jpg" class="full-pic">
        </div>
        <div id="problem-A-text" class="problem-A-text">
            <div class="problem-selector">
                A: 上海奥迪国际
            </div>
        </div>

    </div>
</body>
</html>