<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<style>
    .tmp {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>
<body>
    <div class="full-container">
        <img src="bg.jpg" class="full-pic">
        <div style="width: 10%;position: absolute;top: 50%;left: 10px">
            <input type="text" value="fdsafd" style="width: 50%"/>
        </div>
    </div>
</body>
</html>