<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title></title>
</head>
<body style="border-right: 0px;">

    <form id="user_info" class="full-container" action="index.html" method="post">
        <div class="full-container">
            <img src="submit.jpg" class="full-pic">
            <div style="width: 100%; position: absolute; top: 31.9%;left: 26%; height: 6%">
                <input id="name" type="text" style="width: 55%; height: 100%;"/>
            </div>

            <div style="width: 100%; position: absolute; top: 39%;left: 26%; height: 6%">
                <input id="phone" type="text" style="width: 55%; height: 100%;"/>
            </div>

            <div style="width: 100%; position: absolute; top: 45.9%;left: 26%; height: 12%">
                <textarea id="address" style="width: 55%; height: 100%; column-count: 3" rows="3"></textarea>
            </div>
        </div>
    </form>

</body>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="utils.js"></script>

<script>
    var submitLeft = 0.32;
    var submitTop = 0.685;

    var submitRight = 0.676;
    var submitBottom = 0.74;

    $('body').click(function(e) {
    var img = $('body')[0];
    var width = img.clientWidth;
    var height = img.clientHeight;
    var x = e.pageX;
    var y = e.pageY;

    if (ptInRect(x / width, y / height, submitLeft, submitTop, submitRight, submitBottom)) {
        $('user_info').submit();
        window.location.href="http://www.baidu.com";
    }
});
</script>
</html>