<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>燃擎赛道·速度中国</title>
</head>

<script>
    title = "赛道学霸挑战赛";
</script>
<body id="index-body">
    <div class="full-container">
        <img src="/static/middle-img/index.jpg" class="full-pic">
    </div>
</body>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//touch.code.baidu.com/touch.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="/static/share.js"></script>
<script>

$(document).ready(function() {
    $('body').click(function (e) {
        window.location.href="/static/introduce.html";
    });
    touch.on('#index-body', 'touchstart', function(ev){
	    ev.preventDefault();
    });

    var target = document.getElementById("index-body");
    target.style.webkitTransition = 'all ease 0.2s';

    touch.on(target, 'swipeup', function(ev){
        window.location.href="/static/introduce.html";
    });
});
</script>
</html>