/*common css*/

.container {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

html, body, div, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/*body {*/
    /*background-size: 100%, 100%;*/
    /*background-repeat: no-repeat;*/
/*}*/

.full-pic {
    display: block;
    width: 100%;
}

.all-body {
    width: 100%;
    height: 100%;
    top: 0px;

}

.full-height {
    height: 100%;
    align-content: center;
    text-align: center;
}

.p-img {
    text-align: center;
}

img {
    border: 0;
    vertical-align: middle;
}

/*span {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*font-size: 40px;*/
/*}*/

/* other css */
.index-body {
    width: 750px;
    height: 1334px;
}

.full-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.choices {
    position: absolute;
    left: 12.5%;
    width: 75%;
    height: 6%;
}

.flag {
    width: 14%;
    height: 5%;
    position: absolute;
    /*top: 30%;*/
    left: 42%
}

.flag-A {
    top: 30%;
}

.flag-B {
    top: 43%;
}

.flag-C {
    top: 54%;
}

.choices-A-div {
    top: 33.5%;
}

.choices-B-div {
    top: 46.5%;
}

.choices-C-div {
    top: 58.5%;
}

.choices-text {
    position: absolute;
    left: 24%;
    width: 52%;
    height: 2%;
}

.choices-A-text {
    top: 36%;
}

.choices-B-text {
    top: 48.5%;
}

.choices-C-text {
    top: 60.5%;
}

.problem-body {
    background-image: url("bg.jpg");
    background-size: cover;
}

.problem-selector {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.wrong-answer {
    color: red;
}

.wa-flg {
    position: absolute;
    top: 82%;
    height: 8%;
    left: 30%;
    width: 35%;
}

.correct-flg {
    position: absolute;
    top: 82%;
    left: 20%;
    height: 8%;
    width: 45%;
}

.hidden {
    display: none;
}

.correct-answer {
    color: green;
}

.failed-answer {
    color: red;
}

.wa-msg {
    position: absolute;
    font-size: 20px;
    top: 94%;
    height: 3%;
    left: 13.5%;
}

.share_mask{ width:100%; height:100%; position:fixed; top:0; left:0; background:url(/static/share_mask_bg.png) repeat;}
.share_mask img{ width:45%; position:absolute; top:2%; right:6%;}