<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>燃擎赛道·速度中国</title>
    <link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<script>
    title = "赛道学霸挑战赛";
</script>

<body>
    <div class="full-container">
        <p class="p-img">
            <img id="selectNone" src="/static/small-img/p{{ problem_info.id }}.jpg" class="full-pic">
        </p>

        <p class="p-img">
            <img id="selectA" src="/static/small-img/p{{ problem_info.id }}Ar.jpg" class="full-pic hidden">
        </p>
        <p class="p-img">
            <img id="selectB" src="/static/small-img/p{{ problem_info.id }}Br.jpg" class="full-pic hidden">
        </p>
        <p class="p-img">
            <img id="selectC" src="/static/small-img/p{{ problem_info.id }}Cr.jpg" class="full-pic hidden">
        </p>
    </div>
</body>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="/static/share.js"></script>
<script src="/static/utils.js"></script>
<script src="/static/index.js"></script>
<script>

    // from render.
    commonInfo = Object();
    commonInfo.isAnswered = false;
    commonInfo.correctAnswer = "{{ problem_info.correct }}";
    commonInfo.next = "{{ problem_info.next }}";
    commonInfo.correctNum = {{ correctNum }};

    var areasTop = {'A': 0.34, 'B': 0.46, 'C': 0.58};
    var width = 0.75;
    var height = 0.06;
    var left = 0.125;
    var selected = $('#selectNone')[0];
    var hasShowResult = false;

    function jump2next() {
        window.location = '/participant/problem?name=' + commonInfo.next + '&correct=' + commonInfo.correctNum;
    }

    function toEnd() {
        window.scrollTo(0, document.body.scrollHeight);
    }

    function selectX(s) {
        $(selected).addClass(' hidden ');
        selected = $('#select' + s)[0];
        $(selected).removeClass('hidden');

        window.scrollTo(0, document.body.scrollHeight);
        if (s === commonInfo.correctAnswer) {
            commonInfo.correctNum += 1;
        }
        hasShowResult = true;
        setTimeout(jump2next, 1000);
    }

    $('body').click(function (e) {
        if (hasShowResult) {
            jump2next();
        }

        var body = $('body')[0];
        var x = e.pageX / body.clientWidth;
        var y = e.pageY / body.clientHeight;
        for (var key in areasTop) {
            var top = areasTop[key];
            if (ptInRect(x, y, left, top, left + width, top + height)) {
                selectX(key);
                console.log('hit : ' + x + ' ' + y);
            } else {
                console.log('miss: ' + x + ' ' + y);
            }
        }
    });

    $(document).ready(function() {
        toEnd();
    });
</script>
</html>