<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<script>
    correctAnswer = 'A';
    choiceTextMap = {
        'A' : "A: 上海奥迪国际赛车场",
        'B' : "B: 珠海国际赛车场",
        'C' : "C: 北京京港国际赛车场"
    }
</script>
<body>
    <div class="full-container">
        <img src="/static/bg.jpg" class="full-pic">
        <div onclick="clickChoices('A')">
            <div id="PA-div" class="choices choices-A-div">
                <img id="PA-img" src="/static/normal2.png" class="full-pic">
            </div>
            <div class="choices-text choices-A-text">
                <div id="PAText" class="problem-selector">
                    {{ problem_info.A }}
                </div>
            </div>
        </div>

        <div onclick="clickChoices('B')">
            <div id="PB-div" class="choices choices-B-div">
                <img id="PB-img" src="/static/normal2.png" class="full-pic">
            </div>
            <div id="PB-text" class="choices-text choices-B-text">
                <div class="problem-selector">
                    {{ problem_info.B }}
                </div>
            </div>
        </div>
        <div onclick="clickChoices('C')">
            <div id="PC-div" class="choices choices-C-div">
                <img id="PC-img"  src="/static/normal2.png" class="full-pic">
            </div>
            <div id="PC-text" class="choices-text choices-C-text">
                <div class="problem-selector">
                    {{ problem_info.C }}
                </div>
            </div>
        </div>
        <div id="flag" class="flag flag-B">
            <img src="/static/flag.png" class="full-pic">
        </div>

        <div id="correct" class="correct-flg hidden">
            <img src="/static/correct.png">
        </div>
        <div id="correct" class="wa-flg hidden">
            <img src="/static/error.png">
        </div>
    </div>
</body>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/problem.js"></script>
</html>