<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>燃擎赛道·速度中国</title>
</head>
<script>
    title = "赛道学霸挑战赛";
</script>
<style>
    .info-input {
        border-radius: 5px;
        border-color: gray;
        border-width: 2px;
        font-size: 35px;
    }
</style>
<body style="border-right: 0px;">
    <form id="user_info" class="full-container" action="/participant/add" method="post" style="font-size: 20px">
        <div class="full-container">
            <img src="/static/middle-img/submit.jpg" class="full-pic">
            <div style="width: 100%; position: absolute; top: 32%;left: 26%; height: 4.6%;">
                <input id="name" name="name" type="text" style="width: 54%; height: 100%;" class="info-input"/>
            </div>

            <div style="width: 100%; position: absolute; top: 39.3%;left: 26%; height: 4.6%;">
                <input id="phone" name="phone" type="text" style="width: 54%; height: 100%;" class="info-input"/>
            </div>

            <div style="width: 100%; position: absolute; top: 46.6%;left: 26%; height: 10.5%;">
                <textarea id="address" name="address" style="width: 54%; height: 100%" rows="3" class="info-input"></textarea>
            </div>
        </div>
    </form>
</body>

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/utils.js"></script>
<script src="/static/share.js"></script>

<script>
    var submitLeft = 0.32;
    var submitTop = 0.685;

    var submitRight = 0.676;
    var submitBottom = 0.74;

    $('body').click(function(e) {
    var img = $('body')[0];
    var width = img.clientWidth;
    var height = img.clientHeight;
    var x = e.pageX;
    var y = e.pageY;
    console.log(x / width + ', ' + y / height);
    if (ptInRect(x / width, y / height, submitLeft, submitTop, submitRight, submitBottom)) {
        name = $("input[id='name']").val();
        phone = $("input[id='phone']").val();
        address = $("textarea[id='address']").val();

        url = "/participant/add?name=" + name + "&phone=" + phone + "&address=" + address;
        console.log(url);
        $.ajax({type:"POST",
            url: url,
            data:{
                name: name,
                phone: phone,
                address: address
            },
            success: function(data) {
                alert("已经提交成功，稍后会有人联系您.")
            }
        })
    }
});
</script>
</html>